.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    flex-grow: 1;
    background-color: #fafafa;
    overflow-y: auto;
}

.nav {
    height: 64px;
    display: flex;
    background-color: white;
    box-shadow: 0px -1px 10px 0px #00000085;
    z-index: 1;
}

.navItem {
    display: block;
    flex-grow: 1;
    padding: 16px;
    color: grey;
    text-align: center;

    &.active {
        color: #0c6ad6;
    }

    svg {
        height: 100%;
    }
}
