.container {
    height: 100%;
    overflow-y: auto;
}

.loader {
    --size: 50px;

    position: absolute;
    left: 50%;
    margin-left: calc(var(--size) * -0.5);
    top: calc(var(--size) * -1);
    width: var(--size);
    height: var(--size);
    background-color: white;
    border-radius: calc(var(--size) / 2);
    box-shadow: 2px 2px 25px -10px rgba(0,0,0,0.75);
    background-image: url(../../assets/spinner.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
